body {
  background-image: linear-gradient(to right bottom, black, rgb(0, 101, 252));
  text-align: center;
}

.about-us-background-image {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.about-us-header {
  display: inline-block;
  background-color: rgba(255,255,255,.85);
  padding: 15px 20px;
  font-size: 70px;
  margin-top: 50px;
  border-radius: 3px;
}

.about-us-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 450px;
  padding: 100px;
  grid-gap: 100px;
  text-align: center;
}

.card {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card-side {
  position: absolute;
  backface-visibility: hidden;
  transition: all .5s;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.back {
  padding: 50px;
  transform: rotateY(180deg);
}

.long-description {
  margin-top: 30px;
  line-height: 25px;
}

.name {
  font-size: 40px;
}

.profile-picture {
  border-radius: 50%;
  margin-bottom: 30px;
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(360deg);
}
