body {
  background-image: linear-gradient(to right bottom, black, rgb(0, 101, 252));
  text-align: center;
}

.faq-background-image {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.faq-header {
  display: inline-block;
  background-color: rgba(255,255,255,.85);
  padding: 15px 20px;
  font-size: 70px;
  margin-top: 50px;
  border-radius: 3px;
}


.card {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card-side {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
}


.card:hover {
  position: absolute;
  backface-visibility: hidden;
  transition: all .5s;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0,0,0,.7);
}
