body {
  background-image: url("https://images.unsplash.com/photo-1517433456452-f9633a875f6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  /* background-position: center left; */
  background-size: cover;
  text-align: center;
}

.center {
  top: 48%;
}

.main-header {
  display: inline-block;
  border-radius: 3px;
  font-size: 70px;
  font-weight: bold;
  color: black;
  background-color: rgba(255,255,255,.8);
  padding: 30px;
  margin-bottom: 20px;
}

.project-header {
  margin-bottom: 20px;
}

.projects {
  border-radius: 5px;
  background-color: rgba(255,255,255,.8);
  padding: 20px;
}

.project {
  text-align: center;
  padding: 30px;
  border-radius: 5px;
}

.details-img {
  width: 100%;
  /* display: flex;
  align-self: center; */
}

.project:not(:last-child) {
  border-bottom: 1px solid #bbb;
  margin-bottom: 20px;
}

.grid1 {
  display: grid;
  grid-template-columns: 70% 30%;
}

.grid2 {
  display: grid;
  grid-template-columns: 30% 70%;
}

.info {
  text-align: left;
  padding: 20px;
}
