body {
  background-color: lightblue;
  height: 100vh;
  text-align: center;
}

.projects-header {
  margin: 50px auto;
  font-size: 50px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(3, 250px);
  grid-gap: 30px;
  background-color: pink;
  margin: 50px;
  justify-content: center;
}

.project-image {
  width: 100%;
}

.description1 {
  grid-column: 1/4;
  text-align: left;
}

.description2 {
  grid-column: 2/5;
  text-align: right;
}

.description3 {
  grid-column: 1/4;
  text-align: left;
}

.img1 {
  grid-column: 4/5;
}

.img2 {
  grid-column: 1/2;
}

.img3 {
  grid-column: 4/5;
}
